*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: orange;
 }
 .btn-primary{
    height: 64px;
    border-radius: 5px;
    background: orange;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
 }
 .download-btn-text{
    color: white;
 }
 .contact-btn{
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid orange;
    padding: 18px 35px;
    margin-left: 30px;
    
 }
 .contact-btn-text{
    color: orange;
 }
 
/* Header and nav styles */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}
.banner-description{
   color: #757575;
   font-size: 18px;
   margin-bottom: 30px;
}

.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* About me */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
   margin-top: 130px;
   background: #FFF8F3;
   border-radius: 10px;
   padding: 130px 150px;
   text-align: center;
}
.section-title{
   
   margin-bottom: 30px;
   font-weight: 700;
   font-size: 35px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.i-title{
    font-size: 20px;
    color: #757575;
}
.i-description{
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}
section{
    margin-top: 130px;
}
/* What i do */
.section-title{
    color: #181818;
    text-align: center;
 }
 .wid-description{
    color: #757575;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
 }
 .skills-container{
    display: flex;
    gap: 24px;
 }
 .skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
 }
 .skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
 }
 .skill-description{
    color: #757575;
 }

 /* Resume Styles */
 .resume-content{
    display: flex;
    gap: 24px;
 }
 .section-title{
    margin-bottom: 60px;
 }
 .resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    
 }
 .resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
 }
 .resume-subtitle{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
 }
 .resume-description{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
 }
 .resume-btn{
    margin-top: 50px;
    text-align: center;
 }
/* Connect with me */
.connect{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
 .connect-title{
    text-align: left;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 25px;
 }
 .connect-description{
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
 }
 .connect a{
   text-decoration: none;
   gap: 34px;
 }
 .input{
    height: 64px;
    width: 461px;
    margin-bottom: 24px;
    color: #757575;
    border: 0;
 }
 textarea{
    width: 461px;
    height: 180px;
    margin-bottom: 24px;
    color: #757575;
    border: 0;
 }
